* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: var(--gray-900);
}

body {
  background: var(--gray-900);
  color: var(--white);

  width: 100%;
  height: 100vh;
  margin: 0 auto;

  h1 {
    color: var(--white);
  }
}

body,
input,
textarea,
select,
button {
  font: 400 1rem 'Inter', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

:root {
  --white: #f8f8f8;

  --gray-100: #d7d7d7;
  --gray-300: #bbbbbb;
  --gray-900: #1a1d23;

  --pink-900: #ff57b2;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; // 0.9375 * 16px = 15px;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; // 0.875 * 16px = 14px;
  }
}
