.postsMain {
  width: 100%;

  img {
    display: block;
    max-width: 1440px;
    height: 400px;
    margin: 0 auto;
  }

  .postSection {
    max-width: 700px;
    margin: 80px auto;
    display: block;

    h1 {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 58px;

      /* identical to box height */
      letter-spacing: -0.5px;
      margin-bottom: 24px;

      color: var(--white);
    }

    .postInfos {
      display: flex;
      flex-direction: row;
      gap: 24px;
      margin-top: 25px;

      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;

      color: var(--gray-300);

      margin-bottom: 64px;

      div {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      span {
        margin-left: 8px;
      }
    }

    .postContent {
      h2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 140%;

        /* or 50px */
        text-align: justify;

        color: var(--white);

        margin-bottom: 34px;
      }

      p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;

        /* or 25px */
        text-align: justify;

        color: var(--gray-100);

        margin-bottom: 34px;
      }

      ul,
      li {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;

        /* or 25px */
        text-align: justify;

        color: var(--gray-100);

        margin-bottom: 24px;
        margin-left: 20px;
      }
    }
  }
}
